head {
    background-color:rgb(62, 63, 65)
}
body {
    background-color:rgb(255, 255, 255);
    text-align:center;
    font-family:'Optima', sans-serif;
    border:10px double rgb(0, 0, 0);
    width:98%;
    background-color:rgb(208, 251, 254);
}
.homephoto {
    font-size:1100%;
    font-family:'Margarine', sans-serif;
    -webkit-text-stroke: 4px black;
    -webkit-text-fill-color: rgba(226, 233, 234, 0.62);
    position:relative;
    bottom:1350px;
    left:400px;
}
img {
    margin-left:fill;
    margin-right:fill;
    display:block;
}
.topleft {
    position:absolute;
    top:10%;
    left:35%;
    transform: translate(-50%, -50%);
}
h1 {
    width:63%;
    position:relative;
    left:505px;
    font-size:15px;
    position:relative;
    border-left:4px dashed black;
    border-right:4px dashed black;
    border-top:4px dashed black;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:50px;
    padding-top:40px;
    background-color:rgba(171, 225, 228, 0.677);
    bottom:200px
}
h2 {
    font-size:1500%;
    font-family:Impact, Haettenschweiler, sans-serif;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(119, 121, 133);
}
.centered {
    position:absolute;
    top:5%;
    left:50%;
    transform: translate(-50%, -50%);
}
h3 {
    text-align:center;
    font-size:400%;
    font-family:Impact, Haettenschweiler, sans-serif;
}
h4 {
    text-align:center;
    font-size:300%;
    padding-right:5%;
    padding-left:5%;
}
h5 {
    font-size:125%;
    padding-right:10%;
    padding-left:10%;
    padding-top:5%;
    padding-bottom:5%;
    border:15px double rgb(0, 0, 0);
}
h6 {
    font-size:200%;
    padding-left:10%;
    padding-right:10%;
    text-align:center;
    width:30%;
    position:relative;
}
.text1 {
    font-size:125%;
    text-align:center;
    width:50%
}
.coverimage {
    border-top:3px solid black;
    border-bottom:6px solid black;
}
.image {
    width:35%;
    height:35%;
    border-radius:50%;
    border: 4px solid black;
    position:relative;
    right:60px;
    bottom:10px
}
.image2 {
    width:30%;
    height:30%;
    border-radius:50%;
    border:4px solid black;
    position:relative;
    right:200px;
    top:15px
}
figcaption {
    font-size:25%;
    display:inline-block;
    margin:20px;
}
nav {
    display:flex;
}
    nav {
        text-align:left;
        background-color:rgb(208, 251, 254);
      }
      nav a { /* includes link, visited, active */
        background-color:rgb(95, 88, 117);
        border-top:3px solid black;
        border-left:3px solid black;
        border-right:3px solid black;
        border-radius:5px 5px 0 0; 
        color:white;
        font-size:25px;
        font-weight:bold;
        margin-right:3px;
        padding:5px;
        text-decoration:none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position:relative;
        right:3px;
        top:3px;
      }
      nav a:hover {
        background-color:rgb(255, 255, 255);
        color:rgb(95, 88, 117);
      }
    footer {
        background-color:rgb(95, 88, 117);
        color:white;
        padding-top:3%;
        padding-bottom:3%;
        text-align:left;
        padding-left:1%
    }
.clouds {
    width:400px;
    height:100%;
    border:10px double black;
    position:relative;
    left:100px;
    bottom:900px;
    display:block;
    background-color:rgb(61, 64, 83);
    opacity:.5
}
.clouds:hover {
    opacity:1
}
.font1 {
    font-size:60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke:2px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
}
.moveheader {
    position:relative;
    bottom:950px;
}
.adhdtitle {
    font-size:250px;
    position:relative;
    bottom:900px;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(182, 169, 227);
}
.adhdtitle2 {
    font-size:80px;
    position:relative;
    bottom:1100px;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(182, 169, 227);
}
.notebooks {
    opacity:.5;
    position:relative;
    top:3px;
    border-top:4px solid black;
    border-bottom:6px solid black;
}
.movedek {
    position:relative;
    bottom:950px;
    text-align:left;
    padding-left:50px;
    padding-right:25px;
    border-right:10px double black;
    border-bottom:10px double black;
    border-top:10px double black;
    width:50%;
    padding-top:50px;
    padding-bottom:50px;
}
.text2 {
    width:25%;
    text-align:center;
    padding-left:50px;
    padding-right:50px;
    padding-top:25px;
    padding-bottom:25px;
    position:relative;
    left:855px;
    bottom:1525px;
    border:10px double black;
}
.text3 {
    width:30%;
    border:none;
    position:relative;
    bottom:1650px;
    right:85px;
    text-align:left;
}
.thekarmyns {
    width:55%;
    position:relative;
    left:560px;
    bottom:2285px;
    border:10px double black;
    border-radius:20%;
}
.text4 {
    border:none;
    position:relative;
    bottom:2350px;
    right:85px;
    text-align:left;
    width:92%;
}
.text5 {
    width:60%;
    border:none;
    position:relative;
    bottom:2495px;
    left:370px;
    text-align:right;
}
.text6 {
    border:none;
    position:relative;
    bottom:2630px;
    right:85px;
    text-align:left;
    width:92%; 
}
.text7 {
    border:none;
    position:relative;
    bottom:2230px;
    right:85px;
    text-align:left;
    width:92%; 
}
.text8 {
    width:40%;
    border:none;
    position:relative;
    bottom:2360px;
    right:85px;
    text-align:left;
}
.text9 {
    border:none;
    position:relative;
    bottom:2490px;
    right:85px;
    text-align:left;
    width:92%; 
}
.text10 {
    width:40%;
    border:none;
    position:relative;
    bottom:2650px;
    left:640px;
    text-align:right;
}
.text11 {
    border:none;
    position:relative;
    bottom:2650px;
    left:200px;
    text-align:center;
    width:50%;
    font-size:30px;
    border:10px double black;
}
.glean {
    width:30%;
    position:relative;
    bottom:5870px;
    left:50px;
    border:10px double black;
    border-radius:20%;
}
.food {
    width:30%;
    position:relative;
    bottom:4885px;
    left:750px;
    border:10px double black;
    border-radius:20%
}
.octopus {
    width:34%;
    border:10px double black;
    border-radius:20%;
    position:relative;
    bottom:4500px;
    left:200px;
}
.books {
    width:400px;
    height:100%;
    border:10px double black;
    position:relative;
    left:650px;
    bottom:1279px;
    display:block;
    background-color:rgb(61, 64, 83);
    opacity:.5;
}
.books:hover {
    opacity:1;
}
.notebookcapt {
    font-size:15px;
    position:relative;
    right:228px;
    bottom:40px;
    background-color:rgba(151, 151, 151, 0.527);
}
.karmynscapt {
    position:relative;
    bottom:2875px;
    left:250px;
    font-size:13px;
    border:1.5px solid black;
    padding:3px;
}
.gleancapt {
    position:relative;
    bottom:6280px;
    right:435px;
    font-size:11px;
    border:1.5px solid black;
    padding:3px;
    width:33%
}
.foodcapt {
    position:relative;
    bottom:5140px;
    left:550px;
    font-size:13px;
    border:1.5px solid black;
    padding:6px;
    width:5%;
}
.octopuscapt {
    position:relative;
    bottom:4775px;
    right:600px;
    font-size:13px;
    border:1.5px solid black;
    padding:6px;
    width:5%;
}
.linc {
    width:30%;
    border:10px double black;
    border-radius:20%;
    position:relative;
    bottom:8200px;
    left:50px;
}
.heckart {
    width:55%;
    border:10px double black;
    border-radius:20%;
    position:relative;
    bottom:6900px;
    left:500px;
}
